
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          Welcome to Hogwarts!
        </h1>
        <div>
          Use your wand to select from the options below.
        </div>
        <p>
          <a href="/houses" class="btn btn-primary btn-large">View Houses</a>
          <a href="/students/new" class="btn btn-primary btn-large">Enroll</a>
        </p>
      </div>
    </div>
  </div>
</div>